.mapBox {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    width: 15%;
}

.room {
    border: solid red;
    height: 100px;
    width: 100px;
}

.textBox {
    border: solid green;
}

.inputBox {
    border: solid orange;
}