body 
{
    display: flex;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}

.gameBox 
{
    justify-content: center;
}

.mapBox 
{
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    height: 45.5vh;
    padding-top: 10px;
}

.room 
{
    border: solid;
    height: 13vh;
    width: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox 
{
    /* border: solid blue; */
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    word-break: normal;
    width: 30%;
    height: 80vh;
}

.startText 
{
    display: flex;
    justify-content: center;
}

.textBox 
{
    border: solid white;
    width: 97.5%;
    height: 17vh;
    text-align: left;
    padding: 5px;
}

.hidden
{
    display: hide;
}

.portraitBox
{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 20em;
    left: 31em;
}



.input 
{
    display: flex;
    justify-content: center;
    
}

.button 
{
    /* border: solid green; */
    border-radius: 5px;
    width: 10vh;
    height: 5vh;
    margin: 2px;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}

.hero
{
    /* border: solid green; */
    width: 40px;
    height: 40px;
}

.sideBox 
{
    border: solid;
    text-align: center;
    width: 8%;
    height: 46.5vh;
}


